<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>About Us</title>
<link rel="icon" type="image/png" href="img/favicon.ico" />
<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
<!--[if lt IE 9]>
<script src="scripts/ie9.js">IE7_PNG_SUFFIX=".png";</script>
<![endif]-->
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" type="text/css" href="css/style2.css">
<link rel="stylesheet" type="text/css" type="text/css" href="css/responsive.css">
<script type="text/javascript" src="js/libs/jquery-1.10.1.min.js"></script>
<script type="text/javascript">
$('html, body').animate({
    scrollTop: 178
}, 2000);
</script>
</head>
<body>
  <div class="wraper">
     <header class="header">
     <a class="logo" href="index.html"></a>
     <nav>
  <!-- top menu -->
      <ul>
         <li><a href="index.html">Home</a></li>
         <li><a href="about.html" class="active">About Us</a></li>
         <li><a href="services.html">Services</a>
         <li><a href="contact.html">Contacts</a>
      </ul>
  <!-- /top menu -->
    </nav>
    </header>
</div> 
<div class="content_block">
 <!-- top_title -->
 <div class="top_title">
  <div class="text_bar_shadow"></div>
  <div class="wraper">
    <h2>About Us<span>We think you'll love to work with us</span></h2>
    <ul><li><p>Our value added services for you..</p></li></ul>
  </div>
 </div>
 </div>
 <div class="text_bar_shadow2"></div>
</div>
<div class="wrapper">
<div class="intro_text">
   <div class="bwWrapper"><canvas width="426" height="238" style="position: absolute; top: 0px; left: 0px; width: 426px; height: 238px; display: block;"></canvas><img src="img/sliders/pic1.jpg" width="426" height="238" alt=""></div>
   <div class="desc">
    <h4>Our Journey Each milestone achieved, holds witness to our success and commitment towards innovation.</h4>
    <p>
      HCL Infosystems Ltd. is India’s Premier Distribution and IT Services and Solutions Company. HCL Infosystems’ has one of the largest sales & distribution network in the country and provides value added distribution for partners including last mile connect and support in marketing and promotions for Telecom, IT , Office Automation and Consumer Electronics products covering more than 15000 towns across 664 districts in India. Our distribution business has an unparallel network that reaches more than 100,000 retail outlets, over 800 Direct and Micro Distributors and over 12400 Channel Partners across India.
 
    In the services space the Company has robust services offerings such as a comprehensive portfolio of Infrastructure Managed Services, Enterprise Application Services, System Integration Services, Office Automation Services, Managed Print Services, Life Cycle Services and After-Sales Support Services. HCL Learning, the Company’s learning solutions business, serves the entire spectrum of education and training requirements across schools colleges, individuals and enterprises and offers Digital Content & Learning Solutions.
     
      HCL has initiated the cab booking system in order to facilitate better transport services for the employees. The system will enable hiring of the cab through an online system. Employes would be able to book the cab online. The Manager would be able to look at requests, the date and time, check the availability of the drivers at the time, and allocate them to the car. The driver and the traveler will be notified about the allocation of cab through e-mail.
    
    HCL has a wide number of employees ranging upto 90000 people in around 31 countries. The idea behind this system is to felicitate the employees with better transport facilities so that they can work more efficiently and effectively concentrating on their core job and not taking any hassles for transportation. 
   
    The project will be a simple user friendly interface wherin any employee can request a cab. The authorization will be done by immediate supervisor as well as the cab manager who will manage all the bookings.</p>
   </div>
  </div>
</div>
</body>
</html>              