<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Services</title>
<link rel="icon" type="img/png" href="img/favicon.ico" />
<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="css/style3.css">
<link rel="stylesheet" type="text/css" href="css/responsive.css"> 
<link rel="stylesheet" type="text/css" href="css/unleash.css">
<script src="js/jquery.min.js"></script> 
<script src="js/jquery-css-transform.js"></script>
<script src="js/jquery-animate-css-rotate-scale.js"></script>
<script src="js/jquery.unleash.min.js"></script>
<script src="js/jquery.faq.js"></script>  
<script src="js/jquery.blackandwhite.min.js"></script>
<script src="js/js_func.js"></script>
<script>
$(function(){
  $('#unleash_slider').unleash({
          duration: 700,
        childClassName: '.box',
        captionClassName: '.caption',
                SliderWidth: '934px',
                SliderHeight: '350px',
                width: 600,
                Event: "hover",
                CollapseOnMouseLeave: true,
                CaptionAnimation: "opacity"
  });
  $('#faq').dltoggle();
  $("#open").click(function(event){
      $('#faq').dltoggle_show();
      return false;
  });
  $("#close").click(function(event){
      $('#faq').dltoggle_hide();
      return false;
  });
    $('.bwWrapper').BlackAndWhite({
        hoverEffect : true,
        webworkerPath : false,
        responsive:true,
        invertHoverEffect:false
    });
});
</script>
</head>
<body>
  <div class="wraper">
     <header class="header">
     <a class="logo" href="index.html"></a>
     <nav>
  <!-- top menu -->
      <ul>
         <li><a href="index.html">Home</a></li>
         <li><a href="about.html">About Us</a></li>
         <li><a href="services.html" class="active">Services</a>
         <li><a href="contact.html">Contacts</a>
      </ul>
  <!-- /top menu -->
    </nav>
    </header>
</div> 
<div class="content_block">
 <!-- top_title -->
 <div class="top_title">
  <div class="text_bar_shadow"></div>
  <div class="wraper">
    <h2>Our Services<span>We can handle anything you need. Check out our services below!</span></h2>
    <ul><li><p>Our value added services for you..</p></li></ul>
  </div>
 </div>
 </div>
 <div class="text_bar_shadow2"></div>
 <div class="unleash_wrap">
<div class="fallback"><img src="img/sliders/home_page_5_fallback.jpg" alt="" /></div>
<div class="unleash_bg">
 <div id="unleash_slider" style="width: 934px; height: 350px;">
  <div class="box featured" style="height: 350px; left: 0px;"><img src="img/unleash/img1.png"><div class="caption" style="width: 633px; bottom: 0px; opacity: 0.8;"><a href="#"><h1>HCL offering service here.</h1></a><o>To facilitate better transport services for the employees so that they can work more efficiently and effectively concentrating on their core job and not taking any hassles for transportation!</p></div></div>
  <div class="box" style="height: 350px; left: 683px;"><img src="img/unleash/img2.png"><div class="caption" style="width: 633px; bottom: 0px; opacity: 0;"><a href="#"><h1>Enhance Business Processes.</h1></a><p>To be able to use internet technology to project the hiring company to the global world instead of limiting their services to their local domain alone, thus increase their return on investment (ROI)!</p></div></div>
  <div class="box" style="height: 350px; left: 745.75px;"><img src="img/unleash/img3.png"><div class="caption" style="width: 633px; bottom: 0px; opacity: 0;"><a href="#"><h1>Eco-friendly</h1></a><p> Travels addresses all the concerns of today's discerning traveler! We offer Safety, good time keeping, courtesy, and are environment friendly too!</p></div></div>
  <div class="box" style="height: 350px; left: 808.5px;"><img src="img/unleash/img4.png"><div class="caption" style="width: 633px; bottom: 0px; opacity: 0;"><a href="#"><h1>Group Bookings.</h1></a><p>Allows the customer to book space for a group in the case of weddings or corporate meetings (Event management)!</p></div></div>
  <div class="box" style="height: 350px; left: 871.25px;"><img src="img/unleash/img5.png"><div class="caption" style="width: 633px; bottom: 0px; opacity: 0;"><a href="#"><h1>Online Cab Reservation.</h1></a><p>A tools through which customers can reserve available cabs online prior to their expected pick-up date or time. The software acts as an office that is open 24/7!</p></div></div>
 </div>
</div>
</div>
</body>
</html>