<!DOCTYPE html>
<html lang="en"><head>
<head>
<meta charset="utf-8">
<title>Status</title>
<link rel="stylesheet" type="text/css" href="css/style5.css">
<link rel="stylesheet" type="text/css" href="font/css/font-awesome.min.css">
</head>
<body>
<div class="wraper">
 <header class="header">
     <a class="logo" href="index.html"></a>
      <nav>
        <ul>
          <li><span><i class='fa fa-user fa-4x'></i></span></li>
          <li><a href="index.html">Logout</a></li>
        </ul>  
     </nav>
 </header>
</div> 
      <div class="content_block">
      <div class="text_bar_shadow"></div>
      <div class="pricing_option">
   <h4 class="bord">History</h4>
   <ul>
    <li>
     <h4 class="price">S.No</h4>
     <p></p>
     <p></p>
     <p></p>
     <p></p>
     <p></p>
     <p></p>
     <p></p>
     <p></p>

    </li>
    <li>
     <h4 class="price">Name</h4>
     <p></p>
     <p></p>
     <p></p>
     <p></p>
     <p></p>
     <p></p>
     <p></p>
     <p></p>
    </li>
     <li>
     <h4 class="price">Request No.</h4>
     <p></p>
     <p></p>
     <p></p>
     <p></p>
     <p></p>
     <p></p>
     <p></p>
     <p></p>
    </li>
     <li>
     <h4 class="price">Manager's Name</h4>
     <p></p>
     <p></p>
     <p></p>
     <p></p>
     <p></p>
     <p></p>
     <p></p>
     <p></p>
    </li>
    <li class="active">
    <div class="active_bg">
     <h4 class="price">Request Status</h4>
     <p></p>
     <p></p>
     <p></p>
     <p></p>
     <p></p>
     <p></p>
     <p></p>
     <p></p>
    </div>
    </li>
   </ul>
  </div>
     <div class="up"><a href="#"><img src="img/over3.jpg"></a><p>Stay Updated with HCL news. HCL Infosystems appraised with the CMMi (Capability Maturity Model integration) Maturity Level 5 certification for its Jaipur Development Centre. Each milestone achieved, holds witness to our success and commitment towards innovation.</p>
     <label> 
        <input type="button" class="button" value="REMINDER" /> 
        <input type="button" class="button" value="WITHDRAW" />
     </label> 
     </div>
  </div>
</body>
</html>
